body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.hero {
  min-height: 90vh;
}

.text-highlight {
  color: #f5b400;
}

.profile-img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 10px 10px 0 #f5b400;
}

/* Dark Mode */
body.dark-theme {
  background-color: #111;
  color: #fff;
}

body.dark-theme .btn-dark {
  background-color: #f5b400;
  border: none;
}

body.dark-theme .btn-outline-dark {
  border-color: #f5b400;
  color: #f5b400;
}

body.dark-theme .navbar,
body.dark-theme .hero {
  background-color: #111;
}
